<a href="https://colab.research.google.com/github/YehYiHsuan/Python-Stock-Analysis/blob/master/python_stock_price_crawler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas_datareader as pdr
import pandas as pd

In [0]:
#抓取股票歷史股價資料
def stock_price_crawler(code,starttime,endtime):
  for n in range(len(code)):
    code[n]=code[n]+'.TW'
  result={}
  for no in code:
    #print(no)
    result[no[:-3]]=pdr.DataReader(no, 'yahoo', starttime, endtime)
  return result

In [25]:
code=['2330','2331']
result=stock_price_crawler(code,'2018-01-01','2019-01-01')

obj={}
for index,df in result.items():
  obj[index]=df['Close']

  
df = pd.DataFrame.from_dict(obj,orient='index')
df = df.sort_index()
df

,2018-01-02 00:00:00,2018-01-03 00:00:00,2018-01-04 00:00:00,2018-01-05 00:00:00,2018-01-08 00:00:00,2018-01-09 00:00:00,2018-01-10 00:00:00,2018-01-11 00:00:00,2018-01-12 00:00:00,2018-01-15 00:00:00,...,2018-12-18 00:00:00,2018-12-19 00:00:00,2018-12-20 00:00:00,2018-12-21 00:00:00,2018-12-24 00:00:00,2018-12-25 00:00:00,2018-12-26 00:00:00,2018-12-27 00:00:00,2018-12-28 00:00:00,2019-01-02 00:00:00
2330,232.500000,237.000000,239.500000,240.0,242.000000,242.0,236.500000,235.00,237.000000,240.00,...,222.50,225.50,221.00,223.50,220.0,217.50,216.5,223.0,225.50,219.5
2331,19.799999,19.799999,19.799999,19.6,19.049999,19.1,18.700001,18.35,18.549999,18.85,...,12.45,12.45,12.35,12.15,12.6,12.35,12.2,12.2,12.35,12.2